@import 'src/styles/sass/mixin';
@import 'src/styles/sass/variables';

.avaBlock {
  @include flex(column, space-between, center, nowrap);
  @media screen and (max-width: $mediaWidth) {
    @include flex(column, center, center, nowrap);
    width: 100%;
    height: 170px;
  }

  .image {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border: 3px solid #ffffff;
    &:hover {
      position: absolute;
    }
  }
}