@import 'src/styles/sass/variables';
@import 'src/styles/sass/mixin';

.image {
  @include bgSettings(cover, center, no-repeat);
  width: 230px;
  height: 180px;
  object-fit: cover;
  @media screen and (max-width: $mediaWidth) {
    width: 150px;
    height: 75px;
  }
}