@import 'src/styles/sass/mixin';
@import 'src/styles/sass/variables';

.editProfileContainer {
  .settingsBlock {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.modalBlock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  padding: 25px;
  @media screen and (max-width: $mediaWidth) {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
  }
}

.profilePhotoContainer {
  @include flex(row, center, center, wrap);
  width: 100%;
  height: 300px;
  border: 1px black dashed;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.photoBlock {
  width: 100%;
  height: 110px;
  border: 1px black dashed;
  border-radius: 5px;
}
