@import 'src/styles/sass/mixin';
@import 'src/styles/sass/variables';

.editProfileContainer {
  .settingsBlock {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.modalBlock{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  border: 1px solid #000;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.25);
  padding: 25px;
  @media screen and (max-width: $mediaWidth) {
    width: 90%;
    padding: 15px;
    border-radius: 5px;
  }
}

