@import 'src/styles/sass/mixin';

.profilePhotoContainer {
  @include flex(row, center, center, wrap);
  @include bgSettings(contain, center, no-repeat);
  position: relative;
  width: 100%;
  height: 300px;
  border: 1px grey dashed;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

