@import './src/styles/sass/mixin';
@import './src/styles/sass/variables';

.authContainer {
  @include flex(row, center, flex-start, wrap);
  width: 90%;
  height: 600px;
  margin-top: 30px;
  @media screen and (max-width: $mediaWidth) {
    @include flex(column, flex-start, center, wrap);
    margin-top: 20px;
  }
}