@import "./src/styles/sass/variables";
@import "./src/styles/sass/mixin";

.row {
  cursor: pointer;

  &:hover {
    background-color: $hoverColor;
    transition: background-color 0.3s;
  }

  .image {
    @include bgSettings(contain, center center, no-repeat);
    width: 140px;
    height: 80px;
    display: block;
    object-fit: cover;
  }
}