@import '../../../../styles/sass/mixin';
@import '../../../../styles/sass/variables';

.image {
  @include bgSettings(contain, center center, no-repeat);
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}